.blog-container .swiper-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start !important;
}

:root {
    --swiper-navigation-size: 44px;
}

.swiper-button-prev-shirt,
.swiper-button-next-shirt {
    position: absolute;
    top: var(--swiper-navigation-top-offset, 50%);
    height: 40px;
    width: 40px;
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 100%;
    color: var(--swiper-navigation-color, #E1E6ED);
    border: var(--swiper-navigation-border, 1px solid #E1E6ED);
}

.swiper-button-prev-shirt.swiper-button-disabled,
.swiper-button-next-shirt.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
}

.swiper-button-prev-shirt.swiper-button-hidden,
.swiper-button-next-shirt.swiper-button-hidden {
    opacity: 0;
    cursor: auto;
    pointer-events: none;
}

.swiper-navigation-disabled .swiper-button-prev-shirt,
.swiper-navigation-disabled .swiper-button-next-shirt {
    display: none !important;
}

.swiper-button-prev-shirt svg,
.swiper-button-next-shirt svg {
    width: 13.8px;
    height: 13.8px;
    object-fit: contain;
    transform-origin: center;
}

.swiper-rtl .swiper-button-prev-shirt svg,
.swiper-rtl .swiper-button-next-shirt svg {
    transform: rotate(180deg);
}

/* Navigation font start */
.swiper-button-prev-shirt:after,
.swiper-button-next-shirt:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
}

.swiper-button-prev-shirt:after {
    content: 'prev';
}

.swiper-button-next-shirt:after {
    content: 'next';
}

/* Navigation font end */

